---
title: "ちょっとHなガンダム3択クイズ"
import React, { useState } from "react"
import { TitleScreen } from "../components/TitleScreen"
import Quiz from "../components/Quiz"
---

<head>
  <meta charset="utf-8">
  <title>ちょっとHなガンダム3択クイズ</title>
</head>

{/** React Islandで状態管理 */}
{(() => {
  const [showQuiz, setShowQuiz] = useState(false)
  return showQuiz ? (
    <Quiz />
  ) : (
    <TitleScreen onStart={() => setShowQuiz(true)} />
  )
})()}
